<html>
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>Twitter REST API</title>
</head>
<body>
	<div id="container">
		<div id="header">
			<br /> <img id="logo" title="Oracle" alt="Logo" class="logo"
				style="width: 45px;  padding-left: 10px;"
				th:src="@{/images/logo.png}" /><span
				style="font-size: 25px; color: white">Oracle Application
				Container Cloud Demo</span> <a href="http://twitter.com"> <img
				id="logo" title="Twitter" alt="Logo" class="logo"
				style="width: 36px; padding-top: 7px; padding-right: 7px; float: right;"
				th:src="@{/images/twitter.png}" /></a>
		</div>
		<div id="body">
			<h3 align="center">
				Hello, <span th:text="${twitterProfile.name}">Some User</span>!
			</h3>

			<h4>Your latest friends list:</h4>

			<ul>
				<li th:each="friend:${friends}" th:text="${friend.name}">Friend</li>
			</ul>
			<div id="back" style="padding-left: 15px;">
				<a href="/connect/twitter" style="color: black !important;"><button>Back</button></a>
			</div>
		</div>
	</div>
</body>
</html>