<html>
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>Twitter REST APIr</title>
</head>
<body>
	<div id="container">
		<div id="header">
			<br /> <img id="logo" title="Oracle" alt="Logo" class="logo"
				style="width: 45px;  padding-left: 10px;"
				th:src="@{/images/logo.png}" /><span
				style="font-size: 25px; color: white">Oracle Application
				Container Cloud Demo</span> <a href="http://twitter.com"> <img
				id="logo" title="Twitter" alt="Logo" class="logo"
				style="width: 36px; padding-top: 7px; padding-right: 7px; float: right;"
				th:src="@{/images/twitter.png}" /></a>
		</div>
		<div id="body">
			<h3>Connect to Twitter</h3>
			<span th:if="${social_provider_error}">Provider error (maybe
				you need to configure the app id and secret?)</span>
			<form action="/connect/twitter" method="POST">
				<div class="formInfo">
					<p>You aren't connected to Twitter yet. Click the button to
						connect this application with your Twitter account.</p>
				</div>
				<p>
					<button type="submit">Connect</button>
				</p>
			</form>
		</div>
	</div>
</body>
</html>